	body {
		background-color: #528f16;
	}

	.chefe {
		background-color: #ffc57a;
		
	}

	.jabuti{
		background-color: #ff9587;
	}

	.gazela{
		background-color: beige;
	}

	.galo{
		background-color: #528f16;
	}

	.corvo{
		background-color: #a3a3a3;
	}

	h1 {
		text-align: center;
		font-size: 40px;
		color: rgb(56, 0, 0);

	}

	p {
		text-align: center;
		font-size: 30px;
	}

	img {}

	.imgindex {}

	#principal {}