	body {
		background-color: #528f16;
	}

	.chefe {
		background-color: rgb(255, 197, 122);
		
	}

	.jabuti{
		background-color: rgb(255, 149, 135);
	}

	h1 {
		text-align: center;
		font-size: 40px;
		color: rgb(56, 0, 0);

	}

	p {
		text-align: center;
		font-size: 30px;
	}

	img {}

	.imgindex {}

	#principal {}