	body {
		background-color: #528f16;
	}
	
	.chefe{
		background-color: aqua;
	}
	
	h1{
		text-align: center;
		font-size: 40px;
		color: rgb(255, 0, 0);

	}

	p{
		text-align: center;
		font-size: 30px;
	}

	img{
		
	}
	
	.imgindex{
		
	}
	
	#principal {
		
	}